@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  /* ## Colors */

  /* ### Primary */

  --Strong-cyan: hsl(172, 67%, 45%);

  /* ### Neutral */

  --Very-dark-cyan: hsl(183, 100%, 15%);
  --Dark-grayish-cyan: hsl(186, 14%, 43%);
  --Grayish-cyan: hsl(184, 14%, 56%);
  --Light-grayish-cyan: hsl(185, 41%, 84%);
  --Very-light-grayish-cyan: hsl(189, 41%, 97%);
  --White: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Space Mono', monospace;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;  
}

.custom-checkbox:checked + .custom-label {
  color: var(--Very-dark-cyan);
}

input[type="number"]::-webkit-inner-spin-button,
#myNumberInput::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}